
    <header class="trello-header">
      <div class="logo-container">
        <img src="./assets/icon/trello-logo-full.png .svg" width="80" height="16.35" alt="..." class="logo" />
      </div>
      <div class="icons">
        <img
          src="./assets/icon/search.svg"
          alt="..."
          width="16"
          height="16"
          id="searchbtn"
        />
        <img
          src="./assets/icon/Toggle navigation.svg"
          alt="..."
          width="16"
          height="16"
          id="menuBtn"
        />
      </div>
    </header>