
    <header class="trello-header">
      <div class="logo-container">
        <img src="https://s3-alpha-sig.figma.com/img/5543/fa15/ec2bf2848bcc7e055bf7365b9ab61012?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Brw-DXRCYHlNwAsyo7Y3VRolkde-MDbEMGak-Rq~C2TmTsvyOPYqGb4ryWulsks-0xX985r6KbNL3JEuv0iRmMDk0Kst0Nk08xtvuAq-BOgUTJeXn-NgoNBU6liOO6Cv5PKHymxfo~Ey9yYgK11FY3Tr5W7Eo~hLxkA4UJ0MNsX9NNh3N05tWIGmqXko7Awtnl7V~hRt1vRaH9paquoriUVzBEECSpEFEaLqJ8YuJNqUaRKjms5b8beZhdY0Jnbxkgd-Gk7tEeXMGhBOdcl2JDh40UccjscpqUJ4FGomUhZqpa1q0MRmGL-kGtzfx7u7-lmrH0642UpHg72xAQvnjA__" width="80" height="16.35" alt="..." class="logo" />
      </div>
      <div class="icons">
        <img
          src="../assets/icon/search.svg"
          alt="..."
          width="16"
          height="16"
          id="searchbtn"
        />
        <img
          src="../assets/icon/Toggle navigation.svg"
          alt="..."
          width="16"
          height="16"
          id="menuBtn"
        />
      </div>
    </header>